body{

       background-color:rgb(252, 246, 192);

}
.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    width: 100%;
  }
  
 h2{

    float: right;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-right: 10px;
    font-style: italic;
    font-family: 'Playfair Display', serif;
 }
  .topnav a {
    float: left;
    color: #fbff00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: rgb(245, 8, 8);
    color: rgb(255, 255, 255);
  }
  
  .topnav a.active {
    background-color: #ff0000;
    color: white;
  }

.card{
        margin-top: 20px;
        position: relative;
        width:950px;
        height:200px;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #161616;
}

.circle{
         position:absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgb(255, 0, 0);
         clip-path: circle(20% at right 5%);
}
.card h1{
            color: white;
            top:0;
            left: 0;
            margin-left:20px;
            font-size:20px;
            font-style: italic;
            font-family: 'Playfair Display', serif;
}
h1 span{
          color: red;
    
}
