body{

       background-color:cornsilk;

}
.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  
 h2{

    float: right;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-right: 15px;
 }
  .topnav a {
    float: left;
    color: #fbff00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #ff0000;
    color: white;
  }
  img{
      margin-top: 8px;
      width:200px;
      height:200px;
      border:2px solid black;
  }

  h1{
    text-align:center;
  }

  .card1{
    display: inline-flex;
    flex-direction: row;
     margin-top: 30px;
     margin-left: 20px;
     margin-right:30px;
    height:300px;
    width:280px;
    background-image:url('imgcpe.jpg');
    background-size:350px;
    background-repeat:no-repeat;
    border:3px solid rgb(0, 0, 0);
     box-shadow:20px 20px 22px rgba(0,0,0,0,2);
    border-radius:8px;
    color:#fcfcfc;
  }

  .card2{
    display: inline-flex;
    flex-direction: row;
    margin-top: 30px;
    margin-right:30px;
  height:300px;
  width:280px;
  background-image:url('imgcv.jpg');
  background-size:520px;
  background-repeat:no-repeat;
  border:3px solid rgb(0, 0, 0);
   box-shadow:20px 20px 22px rgba(0,0,0,0,2);
  border-radius:8px;
  color:#fcfcfc;
}

.card3{
  display: inline-flex;
  flex-direction: row;
    height:300px;
    width:280px;
    margin-right:30px;
    margin-top: 30px;
    background-image:url('imgmc.jpg');
    background-size:520px;
    background-repeat:no-repeat;
    border:3px solid rgb(0, 0, 0);
     box-shadow:20px 20px 22px rgba(0,0,0,0,2);
    border-radius:8px;
    color:#fcfcfc;
  }

  .card4{
    display: inline-flex;
    flex-direction: row;
    height:300px;
    width:280px;
    margin-left:5px;
    margin-top: 30px;
    background-image:url('imgele.jpg');
    background-size:520px;
    background-repeat:no-repeat;
    border:3px solid rgb(0, 0, 0);
     box-shadow:20px 20px 22px rgba(0,0,0,0,2);
    border-radius:8px;
    color:#fcfcfc;
  }
  .news{
    color: red;
    background-color: gold;
    margin-top: 30px;
    float: right;
    flex-direction:column;
    margin-right:10px;
    border:2px solid black;
    padding-bottom: 165px; 
    padding-right:10px;
    padding-left:10px;
  }
  